{% extends "base.html" %}

{% block content_wrapper %}

    <main role="main" id="main-page-container">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3"><i class="fa fa-book fa-3x"></i> Witaj w bibliotece!</h1>

                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

                <p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">
                        Czytaj więcej <i class="fa fa-arrow-right"></i>
                    </a>
                </p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Książki</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">
                        Czytaj więcej <i class="fa fa-arrow-right"></i>
                    </a></p>
                </div>
                <div class="col-md-4">
                    <h2>Autorzy</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">
                        Czytaj więcej <i class="fa fa-arrow-right"></i>
                    </a></p>
                </div>
                <div class="col-md-4">
                    <h2>Recenzje</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">
                        Czytaj więcej <i class="fa fa-arrow-right"></i>
                    </a></p>
                </div>
            </div>

            <hr>

        </div> <!-- /container -->

    </main>

{% endblock %}